In [1]:
<img src='Data/sakila-db-model.png'>

SyntaxError: invalid syntax (2402725249.py, line 1)

In [2]:
import pandas as pd
from sqlalchemy import create_engine
from sqlalchemy_utils import database_exists
import pymysql
pymysql.install_as_MySQLdb()
from urllib.parse import quote_plus as urlquote

# ## Change username and password to match your personal MySQL Server settings
# username = 'root' # default username for MySQL db is root
# password = 'YOUR_PASSWORD' # whatever password you chose during MySQL installation.

# connection = f'mysql+pymysql://{username}:{password}@localhost/Chinook'
# engine = create_engine(connection)

In [ ]:
import json
with open('/Users/tsbrown/.secret/mysql.json') as f:
    login = json.load(f)
login.keys()

In [ ]:
connection = f"mysql+pymysql://{login['username']}:{urlquote(login['password'])}@localhost/"
engine = create_engine(connection)

In [ ]:
## Check if database exists, if not, create it
if database_exists(connection):
    print('It exists!')
else:
    create_database(connection)
    print('Database created!')

In [ ]:
q = '''SHOW TABLES'''
pd.read_sql(q,engine)

1. What query would you run to get all the customers inside city_id = 312? Your query should return the customers' first name, last name, email, address, and city.

In [ ]:
q = '''SELECT customer.first_name, customer.last_name, customer.email, address.address, city.city
        FROM Customer
        JOIN address
        JOIN city
        WHERE city_id = 312;
'''

2. What query would you run to get all comedy films? Note that the genre is called the category in this schema. Your query should return film title, description, release year, rating, and special features.

In [ ]:
q = '''SELECT film.title, film.description, film.release_year, film.rating, film.special_features
        FROM film
        JOIN film_category
        JOIN category
        WHERE category.name = "Comedy";
'''

3. What query would you run to get all the films that Johnny Lollobrigida was in? Your query should return the actor's last name, film title, and release year.

In [ ]:
q = '''SELECT actor.last_name, film.title, film.release_year
        FROM film
        JOIN actor
        JOIN film_actor
        WHERE actor.last_name = "Lollobrigida";
'''

4. What query would you run to get the first and last names of all the actors in the movie titled "Bingo Talented"?

In [ ]:
q = '''SELECT actor.first_name, actor.last_name
        FROM film
        JOIN actor
        JOIN film_actor
        WHERE film.title = "Bingo Talented";
'''

5. What query would you run to get the customer_id associated with all payments greater than twice the average payment amount? (HINT: use 2* in your query to get twice the amount). Your result should include the customer id and the amount.

In [ ]:
q = '''SELECT customer.customer_id, payment.amount, AVG(payment.amount)
        FROM customer
        JOIN payment
        WHERE payment.amount > (SELECT AVG(amount)
                                  FROM payment);
'''

6. What query would you run to list the first and last names of the 5 customers who have the highest number(count) of payments? You can title the number of payments as num_payments.

In [ ]:
q = '''SELECT customer.first_name, customer.last_name
        (SELECT COUNT(payment_id)
        FROM payment
        ORDER BY COUNT(payment_id) DESC)
        LIMIT 5;
'''